default.properties
build.properties
local.properties
bin/
gen/
out/
scripts/resources/*.diff
obj/
epubs/
mappings/
READY/
proguard_logs/
.idea/
.classpath
.settings
*.so
*.DS_Store
*.iml
*.sublime*
*.jks
*~
